Repository aissamOukraou/skiplist: changes, and which GitLab CI jobs are due for each by the changed paths.
All: skiplist-build, skiplist-test, tikz-build

skiplist-build:
  stage: build
  image: gcc
  script:
  - cd src
  - make test_skipliste
  artifacts:
    paths:
    - src/test_skipliste

skiplist-test:
  stage: test
  script:
  - src/test_skipliste
  dependencies:
  - skiplist-build

tikz-build:
  stage: build
  image: aergus/latex
  script:
  - cd images
  - find . -type f -name "*.tex" -exec latexmk -pdf {} \;
  artifacts:
    paths:
    - images/*.pdf

trying to fix docker image shell for latex
  .gitlab-ci.yml
Due: skiplist-build, skiplist-test, tikz-build

still trying to make latex image work
  .gitlab-ci.yml
Due: skiplist-build, skiplist-test, tikz-build

adding pipeline status and sorted insertion image
  readme.md
  src/skip_liste.cpp
Due: skiplist-build, skiplist-test

changint path for artifact image
  readme.md
Due: none

png en attendant mieux pour les images tikz
  images/insertion_triee.png
  readme.md
Due: none

adding level section
  images/ajout_niveau.png
  images/ajout_niveau.tex
  readme.md
  src/skip_liste.cpp
  src/skip_liste.hpp
Due: skiplist-build, skiplist-test, tikz-build

added table of contents
  readme.md
Due: none

added fast search
  images/recherche_rapide.png
  images/recherche_rapide.tex
  readme.md
Due: tikz-build

added level 1 insertion
  readme.md
Due: none

added level 1 insertion image
  images/insertion_niveau1.png
  images/insertion_niveau1.tex
  images/insertion_triee.png
  images/insertion_triee.tex
  images/recherche_rapide.png
  readme.md
Due: tikz-build

added multilevel insertion
  images/insertion_multiniveaux.png
  images/insertion_multiniveaux.tex
  images/insertion_niveau1.png
  images/insertion_niveau1.tex
  images/insertion_triee.tex
  images/recherche_rapide.png
  images/recherche_rapide.tex
  readme.md
Due: tikz-build

added automatic levels
  readme.md
Due: none

typo et titre
  readme.md
Due: none

no title in the end to avoind messing the toc
  readme.md
Due: none

fixed problem with previous in level creation img
  images/ajout_niveau.png
  images/ajout_niveau.tex
Due: tikz-build

Corrige une typo
  readme.md
Due: none

starting to add tex algorithms
  images/algo_ajout_niveau.tex
  images/algo_insertion_niveau1.tex
  images/algo_insertion_triee.tex
  images/algo_recherche_rapide.tex
  readme.md
Due: tikz-build

Corrige plus de typos
  readme.md
Due: none

added latex typed algorithms
  images/algo_ajout_niveau.png
  images/algo_ajout_niveau.tex
  images/algo_insertion_multiniveaux.png
  images/algo_insertion_multiniveaux.tex
  images/algo_insertion_niveau1.png
  images/algo_insertion_niveau1.tex
  images/algo_insertion_triee.png
  images/algo_niveaux_automatiques.png
  images/algo_niveaux_automatiques.tex
  images/algo_recherche_rapide.png
  readme.md
Due: tikz-build

fixed automatic levels algo link
  readme.md
Due: none

fixed method out of class scope in skip_liste.cpp
  src/skip_liste.cpp
Due: skiplist-build, skiplist-test

added missing ucblalgo for tex algorithms
  images/ucblalgo.sty
Due: none

added tikz build trigger on sty file changes
  .gitlab-ci.yml
Due: skiplist-build, skiplist-test, tikz-build

fixed missing incrementation in last algo
  images/algo_niveaux_automatiques.png
  images/algo_niveaux_automatiques.tex
  readme.md
Due: tikz-build

increaser multilevel algo size to prevent linebreak
  images/algo_insertion_multiniveaux.png
  images/algo_insertion_multiniveaux.tex
Due: tikz-build

trying to build svg with CI
  .gitlab-ci.yml
Due: skiplist-build, skiplist-test, tikz-build

fixed svg export command in CI
  .gitlab-ci.yml
Due: skiplist-build, skiplist-test, tikz-build

split CI config
  .gitlab-ci.yml
  images/.gitlab-ci.yml
  src/.gitlab-ci.yml
Due: skiplist-build, skiplist-test, tikz-build

fix master CI rules
  .gitlab-ci.yml
Due: skiplist-build, skiplist-test, tikz-build

removed trigger restrictions on sub CI configs
  images/.gitlab-ci.yml
  src/.gitlab-ci.yml
Due: skiplist-build, skiplist-test

fixed wrong include in tikz CI pipeline
  .gitlab-ci.yml
Due: skiplist-build, skiplist-test, tikz-build

png was not up to date with sorted insertion
  images/insertion_triee.png
Due: none

clarified level addition algo
  .gitlab-ci.yml
  images/algo_ajout_niveau.png
  images/algo_ajout_niveau.tex
Due: skiplist-build, skiplist-test, tikz-build

trying to link CI generated images in subject
  readme.md
Due: none

trying again to get CI generated image
  readme.md
Due: none

trying once more
  readme.md
Due: none

switching all png images to CI generated ones
  readme.md
Due: none

added png export, separated svg export
  images/.gitlab-ci.yml
  images/ajout_niveau.png
  images/algo_ajout_niveau.png
  images/algo_insertion_multiniveaux.png
  images/algo_insertion_niveau1.png
  images/algo_insertion_triee.png
  images/algo_niveaux_automatiques.png
  images/algo_recherche_rapide.png
  images/insertion_multiniveaux.png
  images/insertion_niveau1.png
  images/insertion_triee.png
  images/recherche_rapide.png
  images/ucblalgo.sty
Due: none

fixing entrymoint for imagemagick image
  images/.gitlab-ci.yml
Due: none

trying to fix export CI
  images/.gitlab-ci.yml
Due: none

Path conditions:
  skiplist-build: any of: .gitlab-ci.yml, src/*
  skiplist-test: any of: .gitlab-ci.yml, src/*
  tikz-build: any of: .gitlab-ci.yml, images/*.tex
